*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #030f1a;
    min-height: 100vh;
}
.header{
    margin: 5px;
    padding: 10px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    padding: 10px  ;
}
.display{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    padding: 10px;
    color: aliceblue;
}
.card{
    width: 300px;
    height: 375px;
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
    background-color:#192a56 ;  
    box-shadow: 0 0 20px 10px rgba(25, 42, 86, 0.8); 
    position: relative;
}