*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #030f1a;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    color: aliceblue;
}
#card{
    width: 300px;
    height: 375px;
    border-radius: 10px;
    overflow: hidden;
    background-color:#192a56 ;  
    box-shadow: 0 0 20px 10px rgba(25, 42, 86, 0.8); 
    position: relative;
}